[submodule "day-one"]
	path = day-one
	url = git@github.com:jctaveras/aoc-day-one.git
[submodule "day-two"]
	path = day-two
	url = git@github.com:jctaveras/aoc-day-two.git
[submodule "day-three"]
	path = day-three
	url = git@github.com:jctaveras/aoc-day-three.git
[submodule "day-four"]
	path = day-four
	url = git@github.com:jctaveras/aoc-day-four.git
